<div class="container-fluid">
  <nav class="navbar-expand-lg navbar-dark bg-dark navbar-inverse fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle Navigator">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <i class="glyphicon glyphicon-th-large"></i>
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="glyphicon glyphicon-user"></span>
            Perfil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Biblioteca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Operaciones</a>
        </li>
      </ul>
  </nav>
</div>
<div class="pos-f-t">
  <div class="collapse" id="navbarTogleExternalContent">
    <div class="bg-dark-p4">
      <h4 class="text-white">Contenido colapsado</h4>
      <span class="text-muted">Expandible via marca de navbar</span>
    </div>
  </div>
</div>
